
:root.dark {
    --background-color: rgb(60, 60, 60);
}

:root.light {
    --background-color: rgb(200, 200, 200);
}

* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: var(--background-color);
}


.board{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.notChosen{
    background-color: bisque;
    border: 2px black solid;
}

.firstSign{
    background-color: orange;
    border: 2px black solid;
}

.secondSign{
    background-color: red;
    border: 2px black solid;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: rgb(60, 59, 59);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 250px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: white;
    margin: auto;
    padding: 20px 40px;
    width: 20%;
    border-radius: 12px;
}

#endModal {
    display: none;
}